[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
boto3 = "*"
v = {editable = true,version = "*"}
pytest-xdist = "*"
pylama = "*"
pylint = "*"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
boto3 = "*"
elasticsearch = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
flask = "*"
flask-dramatiq = "*"
periodiq = "*"
flask-cors = "*"
gunicorn = "*"
pika = "*"
dramatiq = "*"
redis = "*"
elasticsearch-dsl = "*"
sentry-sdk = {extras = ["flask"],version = "==0.13.2"}
requests-aws4auth = "*"
sentry-dramatiq = "*"
argparse = "*"
uuid = "*"
ipinfo = "*"

[requires]
python_version = "3.7"
