[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi1"

[dev-packages]
pytest = "*"
boto3 = "*"
v = "*"
pytest-xdist = "*"
pylama = "*"
pylint = "*"
black = "*"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
boto3 = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
flask = "*"
flask-dramatiq = "*"
periodiq = "*"
flask-cors = "*"
gunicorn = "*"
pika = "*"
dramatiq = "*"
sentry-sdk = "*"
requests-aws4auth = "*"
sentry-dramatiq = "*"
argparse = "*"
uuid = "*"
ipinfo = "*"
gsheets = "*"
click = "*"
pytest = "*"
ipython = "*"
s3fs = "*"
pyarrow = "*"
pyyaml = "*"
pyathena = "*"
gitpython = "*"

[requires]
python_version = "3.7"